body {background-color:rgb(7, 43, 90);border-style: solid;border-width: 40px;border-color:springgreen}
#a{font-family: 'Roboto', sans-serif;;color:snow;text-align:center}
#b{font-family: 'Open Sans', sans-serif;;color:snow;text-align:center;margin-right: 125px;margin-left: 125px;}
#register{font-family: 'Poppins', sans-serif;text-align: center;font-size: 10px;color: snow;}
#c{font-family: 'Poppins', sans-serif;border-style:dashed ;border-color:black;color: chocolate;}