body{
    background-color: rgba(238, 238, 238, 0.842);
    background-size: auto;
    }
#javad{
    font-family: 'lalezar', cursive;
    font-size: 25px;
    color: rgb(49, 49, 49);
    margin-right: 25px;
    }
#reza{
    font-family: 'lalezar', cursive;
    font-size: 20px;
    color: rgb(49, 49, 49);
    margin-left:15px ;
    }
#sadegh{
    font-family: 'lalezar', cursive;
    color: rgb(49, 49, 49);
    margin-right:15px ;
    }
#ali{
    size: 15px;
    color: rgb(0, 70, 110);
    margin-right:10px ;
    margin-left: 15px;
    }
#hosein{
    font-family: 'lalezar', cursive;
    margin-right:15px ;
    }
